.ActionPanel{
    width: 7%;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    align-content: center;
    display: flex;
    align-items: center;
    color: darken(lightblue, 40%);
}