@import 'reset.css';

.App {
  text-align: center;
}

.change{
  position: absolute;
  top: 10px;
  right: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Modal{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  flex-direction: column;

  .close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    opacity: 1;
  }
  .close:hover{
    cursor: pointer;
    color: #ffffff;
    opacity: 0.8;
  }
}

.light{
  color: black;
}

.dark{
  color: white;
  background: #040921;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
